<div class="page-wrapper">
  <div class="content">
    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
      <app-breadcrumbs title="Partenaires" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    </div>
    <!-- /Breadcrumb -->
    <div class="row no-tooltips">
      <div class="col-lg-8 col-md-8">
        <div class="card flex-fill">
          <div class="card-body">
            <header>Rechercher un compteur</header>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="card flex-fill">
          <div class="card-body">POS Body</div>
        </div>
      </div>
    </div>
  </div>
</div>
