<div class="container">
    <div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 d-flex justify-content-center align-items-center mx-auto">
                <div>
                    <div class="p-4 text-center">
                        <img src="assets/img/logo.svg" alt="logo" class="img-fluid">
                    </div>
                    <div class="error-images mb-4">
                        <img src="assets/img/bg/error-401.webp" alt="image" class="img-fluid">
                    </div>
                    <div class="text-center">
                        <h1 class="mb-3">Oops</h1>
                        <p class="fs-16 text-center">Error 401 Authorisation requise. Désolé vous n'avez pas les droits pour consulter cette page.</p>
                        <div class="d-flex justify-content-center pb-4">
                            <a (click)="navigation()" class="btn btn-primary d-flex align-items-center "><i class="ti ti-arrow-left me-2"></i>Revenir à l'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>