<div class="page-wrapper vh-100 d-flex flex-column justify-content-between">
  <div class="content flex-fill h-100">
    <!-- Breadcrumb -->
    <div
      class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3"
    >
      <app-breadcrumbs
        title="Gestion des utilisateurs"
        [breadcrumbItems]="breadCrumbItems"
      ></app-breadcrumbs>
      <div class="d-flex my-xl-auto right-content align-items-center flex-wrap">
        <div class="me-2 mb-2">
          <div class="dropdown">
            <a
              href="javascript:void(0);"
              class="dropdown-toggle btn btn-white d-inline-flex align-items-center"
              data-bs-toggle="dropdown"
            >
              <i class="ti ti-file-export me-1"></i>Export
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-3">
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1"
                  ><i class="ti ti-file-type-pdf me-1"></i>Exporter en PDF</a
                >
              </li>
              <li>
                <a href="javascript:void(0);" class="dropdown-item rounded-1"
                  ><i class="ti ti-file-type-xls me-1"></i>Exporter en Excel
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-2">
          <a
            (click)="formUser()"
            class="btn btn-primary d-flex align-items-center"
            ><i class="ti ti-circle-plus me-2"></i>Ajouter Utilisateur</a
          >
        </div>
        <app-collapse-header></app-collapse-header>
      </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3"
      >
        <h5>Liste des Utilisateurs</h5>
        <div
          class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3"
        ></div>
      </div>
      <div class="card-body">
        <div class="custom-datatable-filter">
          <div class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length">
                  <label>
                    Ligne Affichées :
                    <select
                      [(ngModel)]="size"
                      (ngModelChange)="changePage(size)"
                      class="form-select form-select-sm"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                  <label>
                    <input
                      [(ngModel)]="searchDataValue"
                      [ngModelOptions]="{ standalone: true }"
                      (ngModelChange)="searchData(searchDataValue)"
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Rechercher..."
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="row dt-row">
              <div class="col-sm-12 table-responsive">
                <table class="table table-center table-hover mb-0">
                  <thead>
                    <tr>
                      <th class="col">#</th>
                      <th class="col">Prénom</th>
                      <th class="col">Nom</th>
                      <th class="col">Email</th>
                      <th class="col">Téléphone</th>
                      <th class="col">Login</th>
                      <th class="col">Rôle</th>
                      <th class="col">Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (utilisateur of utilisateurs; track $index) {
                    <tr>
                      <th scope="row">{{ $index + 1 }}</th>
                      <td class="fw-bold">{{ utilisateur.firstName }}</td>
                      <td class="fw-bold">{{ utilisateur.lastName }}</td>
                      <td>{{ utilisateur.email }}</td>
                      <td>{{ utilisateur.phone }}</td>
                      <td class="fw-bold">{{ utilisateur.username }}</td>
                      <td class="fw-bold text-secondary">
                        {{ utilisateur.role }}
                      </td>
                      <td>
                        <span
                          class="badge d-inline-flex align-items-center badge-xs"
                          [ngClass]="
                            utilisateur.enable ? 'badge-success' : 'badge-danger'
                          "
                        >
                          <i class="ti ti-point-filled me-1"></i
                          >{{ utilisateur.enable ? "Actif" : "Inactif" }}
                        </span>
                      </td>
                      <td>
                        <div class="action-icon d-inline-flex">
                          <a
                            class="me-2"
                            (click)="changeStatus(utilisateur)"
                            title="{{
                              utilisateur.enable ? 'Désactiver' : 'Activer'
                            }} l'utilisateur"
                            ><i
                              class="bi"
                              [ngClass]="
                                utilisateur.enable ? 'bi-pause' : 'bi-play'
                              "
                            ></i
                          ></a>
                          <a
                            class="me-2"
                            (click)="openModal(
                                templatePassword,
                                utilisateur
                              )"
                            title="Réinitialiser le mot de passe de l'utilisateur"
                            ><i class="bi bi-arrow-repeat"></i
                          ></a>
                          <a (click)="formUser(true, utilisateur.id)" class="me-2" title="Modifier l'utilisateur"
                            ><i class="ti ti-edit"></i
                          ></a>

                          <a
                            (click)="
                              openModal(
                                deleteModal,
                                utilisateur
                              )
                            "
                            title="Supprimer l'utilisateur"
                            ><i class="ti ti-trash"></i
                          ></a>
                        </div>
                      </td>
                    </tr>
                    } @if (utilisateurs.length === 0) {
                    <tr>
                      <td colspan="9">
                        <h5 class="no-record">Aucun utilisateur trouvé</h5>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">
                  @if(apiResponse.current_page!=undefined){ Affichage de
                  <b>{{
                    apiResponse.current_page * apiResponse.page_size + 1
                  }}</b>
                  à
                  <b>
                    @if (apiResponse.current_page+1==apiResponse.total_pages) {
                    {{ apiResponse.total_items }}
                    } @else {
                    {{ (apiResponse.current_page + 1) * apiResponse.page_size }}
                    }
                  </b>
                  sur
                  <b>{{ apiResponse.total_items }}</b>
                  }@else { Affichage de 0 à {{ size }} sur {{ page }}
                  }
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers">
                  <nav aria-label="Page navigation" class="pagination-style-4">
                    <ul class="pagination mb-0 flex-wrap">
                      <li
                        class="page-item"
                        [ngClass]="{
                          disabled: apiResponse!.current_page === 0
                        }"
                      >
                        <a
                          class="page-link"
                          href="javascript:void(0);"
                          [ngClass]="{
                            'text-primary': apiResponse!.current_page !== 0
                          }"
                          (click)="changePage('prev')"
                        >
                          <i class="ti ti-chevron-left"></i>
                        </a>
                      </li>
                      <li
                        class="bg-primary text-white page-item d-flex align-items-center justify-content-center me-2 ms-2 ps-2 pe-2"
                      >
                        <span
                          >Page @if(apiResponse.current_page!=undefined){
                          {{
                            apiResponse.current_page +
                              1 +
                              " / " +
                              apiResponse.total_pages
                          }}
                          }@else {
                          {{ page }} / {{ page }} }</span
                        >
                      </li>

                      <li
                        class="page-item"
                        [ngClass]="{
                          disabled:
                            apiResponse!.current_page + 1 ===
                            apiResponse!.total_pages
                        }"
                      >
                        <a
                          class="page-link"
                          [ngClass]="{
                            'text-primary':
                              apiResponse!.current_page + 1 !==
                              apiResponse!.total_pages
                          }"
                          href="javascript:void(0);"
                          (click)="changePage('next')"
                        >
                          <i class="ti ti-chevron-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <!-- Modal for deleting utilisateur -->
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ txtModalHeader }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Êtes-vous sûr de vouloir supprimer l'utilisateur
      <b>{{ utilisateur?.firstName + " " + utilisateur?.lastName }}</b> ?
    </p>
  </div>
  <div class="modal-footer">
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary me-2"
        (click)="modalRef?.hide()"
      >
        Annuler
      </button>
      <button type="button" class="btn btn-danger" (click)="delete()">
        <i
          class="fa"
          [ngClass]="{
            'fa-spin fa-spinner': loadingBtn,
            'fa-check': !loadingBtn
          }"
        ></i>
        {{ textButton }}
      </button>
    </div>
  </div>
  <!-- End Modal for deleting utilisateur -->
</ng-template>

<!--Modal Password Reset-->
<ng-template #templatePassword>
  <form (ngSubmit)="reinitPassword()">
    <div class="modal-header">
      <h5 class="modal-title pull-left">Réinitialisation de mot de passe</h5>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="password"
            >Nouveau Mot de passe <span class="text-danger">*</span></label
          >
          <input
            type="text"
            [formControl]="newPassword"
            id="password"
            class="form-control"
            name="password"
            required
            [ngClass]="{
              'is-invalid': newPassword.invalid && newPassword.touched,
              'is-valid': newPassword.valid && newPassword.touched
            }"
          />

          @if (newPassword.errors?.['required']) {
          <div class="invalid-feedback">Veuillez renseigner le nouveau mot de passe.</div>
          }
          @if (newPassword.errors?.['minlength']) {
          <div class="invalid-feedback">Veuillez renseigner 5 caractères minimum.</div>
          }
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
          (click)="modalRef?.hide()"
        >
          Annuler
        </button>
        <button
          type="submit"
          class="btn btn-danger rounded-2"
          [disabled]="!newPassword.valid && !loadingBtn"
        >
          <i
            class="fa"
            [ngClass]="{
              'fa-spin fa-spinner': loadingBtn,
              'fa-check': !loadingBtn
            }"
          ></i>
          {{ textButton }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
